/* *, *::after, *::before { 
  box-sizing: border-box;
} */
* {
  box-sizing: border-box;
}

h1{
  text-align: center;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  position: relative;
  border: black 2px solid;
}

.sectionStyler {
  font-size: 0;
  text-align: center;
}

section{
  display: inline-block;
  width: 33%;
  position: relative;
  border: 1px solid red;
  height: 150px;
  vertical-align: top;
  font-size: 15px;
}

button{
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 25%;
}


.middleBlock {
  margin-left: 5px;
  margin-right: 5px;
}

.playerHandAmount{
  position: absolute;
  border: 2px black solid;
  width: 25%;
  left: 0;
  right: 0;
  bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.playerCard{
  position: absolute;
  top: 110%;
  border: 2px black solid;
  left: 0;
  right: 0;
  bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 2.5in;
  height: 3.5in;
  border-radius: 15px;
}

.middleDisplay{
  position: absolute;
  border: solid black 2px;
  left: 0;
  right: 0;
  bottom: 25%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-size: 16px;
  overflow-wrap: break-word;
}

.playerName{
  position: absolute;
  border: 2px black solid;
  width: 25%;
  left: 0;
  right: 0;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
}